<%= form_tag(chatbot_intents_deposit_details_path, method: :get) do %>
  <div class="box">
    <p><strong>Indique Rut y fecha</strong></p>
        <%= label_tag "Rut" %>
        <%= text_field_tag "rut" %>
        <%= label_tag "fecha" %>
        <%= date_field_tag "deposit_date" %>
      </div>

  <%= submit_tag "OK" %>
  <%= link_to "Cancel", :controller => 'chatbot_intents', :action => 'index' %>
<% end %>