<%= render(partial: 'headers/header_chatbot') %>
<%= form_tag(chatbot_intents_request_paper_rolls_path, method: :post) do %>
  <div class="box">
    <p><strong>Indique Rut del cliente y cantidad de rollos de papel del pedido</strong></p>
    <%= label_tag "Rut" %>
    <br>
    <%= text_field_tag "rut" %>
    <br>
    <%= label_tag "Cantidad" %>
    <br>
    <%= text_field_tag "quantity" %>
    <br>
    <%= label_tag "Dirección de entrega" %>
    <br>
    <%= text_area_tag "delivery_address" %>
  </div>
  <%= submit_tag "Solicitar" %>
  <%= link_to "Volver", :controller => 'chatbot_intents', :action => 'index' %>
<% end %>